@font-face { font-family: Snatchy; src: url('fonts/Snatchy.ttf'); }
@font-face { font-family: Kalinga; src: url('fonts/kalinga.ttf'); }

.paragraph-list {
	margin-top: 16px;
	padding-left: 16px;
}

.email-address b {
	color: #b658c1;
	font-weight: normal;
}
